{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% load tailwind_filters %}

{% block content %}
<div id="wrap" class="bg-transparent oe_structure oe_empty"  >
<section class="relative h-screen flex items-center justify-center text-white overflow-hidden" style="background-image: url('/media/fond.png'); background-size: cover; background-position: center;">

         <div class="flex justify-between items-center ">

                        </div>



        <div class="flex flex-col justify-center items-center">
            <div class=" centrage py-16 sm:py-24 xl:max-w-7xl xl:mx-auto xl:px-8">
                  <div class="ml-4 mr-4 p-14 bg-gradient-to-r from-teal-800 to-teal-700  border border-red-500 rounded-3xl shadow-sm flex flex-col shadow-lg mt-5 ">

        {% if form.errors %}
            <p class="text-red-400 text-center justify-center mt-2">Identifiants incorrects. Veuillez réessayer.</p>
        {% endif %}

        <form method="post" class="mt-6">
                    <br>


                    <div class="bg-gray-100 h-2 w-full"></div>


                    <br>

                    <h1 class="text-2xl text-center tracking-tight text-gray-200">Connexion</h1>

<br>
            {% csrf_token %}

          <div class="mt-4"><input required aria-label="Email" id="id_username" type="text" name="username" placeholder="Email"
                              class="text-sm text-gray-900 w-full
                              mr-3 py-5 px-4 h-2 border
                              border-gray-200 rounded mb-2" /></div>

                        <div><input required aria-label="Mot de passe" id="id_password" type="password" name="password" placeholder="Mot de psse"
                             class="text-sm text-gray-900 w-full mr-3
                              py-5 px-4 h-2 border border-gray-200
                              rounded mb-2" /></div>


                       <div> <button type="submit" class="bg-teal-800 hover:green-600 tracking-normal py-3 px-3 text-gray-200
                              text-center  border border-red-500 rounded-md shadow-lg font-bold w-full mt-6
                                focus:outline focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-700 focus:ring-green-700">
                       Connexion
                  </button></div>


    <p class="text-center text-sm text-gray-200 mt-4">Pas encore inscrit ?
            <a href="{% url 'register' %}" class="text-red-600 hover:underline">Créer un compte</a>
        </p>
        </form>


   </div>
            </div>
            <div class="mt-10 text-red-900"> </div>
          <div class="mt-10 text-red-900"> </div>
             <div class="mt-10 text-red-900"> </div>
          <div class="mt-10 text-red-900"> </div>
        </div>
    </section>
</div>


{% endblock %}

